name: CI
on:
  - push
  - pull_request
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node_version:
          - 18
          - 20
          - 22
    name: Node ${{ matrix.node_version }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install ClamAV
        run: |
          sudo apt-get update -qq
          sudo apt-get install clamav-daemon clamav-freshclam -qq &&
          sudo service clamav-freshclam restart &&
          sleep 30 &&
          sudo service clamav-daemon start &&
          sleep 30 &&
          sudo service clamav-daemon status -l
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm run test
